# Funciones en Python

- Características del nombre de función
  - No puede comenzar con número
  - No puede contener caracteres especiales
  - No se puede utilizar palabras reservadas
  - Escribir en snake_case

### Mi primera función en Python

In [7]:
def saludo():
  print("hola")


# Función con parámetros
def saludo_v2(nombre):
  print( f"Hola {nombre} ¿Cómo estás?")


# Función con parámetro y valor predeterminado
def saludo_v3(nombre = "Desconocido"):
  print( f"Hola {nombre} ¿Cómo estás?")


# Función con parámetro, valor predeterminado y declaración de tipo
def saludo_v4(nombre : str = "Desconocido") -> str:
  print( f"Hola {nombre} ¿Cómo estás?")

In [8]:
#saludo()
saludo_v2("Juan")

saludo_v3()
saludo_v3("Belén")

saludo_v4()
saludo_v4("German")
saludo_v4(123)

Hola Juan ¿Cómo estás?
Hola Desconocido ¿Cómo estás?
Hola Belén ¿Cómo estás?
Hola Desconocido ¿Cómo estás?
Hola German ¿Cómo estás?
Hola 123 ¿Cómo estás?

In [9]:
def imprimir_valor_tipo(valor: any) -> None:
  print(f"El valor es {valor} y su tipo es {type(valor)}")

In [12]:
edad = 25
imprimir_valor_tipo(edad)

nombre = "Juan"
imprimir_valor_tipo(nombre)

imprimir_valor_tipo(25.2)

imprimir_valor_tipo([1, 2, 3])

imprimir_valor_tipo({"nombre" : "María José"})

El valor es 25 y su tipo es <class 'int'>
El valor es Juan y su tipo es <class 'str'>
El valor es 25.2 y su tipo es <class 'float'>
El valor es [1, 2, 3] y su tipo es <class 'list'>
El valor es {'nombre': 'María José'} y su tipo es <class 'dict'>

## Función sumar 2 números con return

In [13]:
def sumar(num1: int | float = 0, num2: int | float = 0) -> int | float:
  return num1 + num2

In [15]:
r = sumar(10, 20.5)
print(r)
imprimir_valor_tipo(r)

30.5
El valor es 30.5 y su tipo es <class 'float'>

## Función para calcular descuentos

In [25]:
def calcular_descuento(precio: int | float, descuento: int | float) -> int | float:
  return precio - (precio * descuento / 100)




def calcular_descuento_v2(precio: int = 0, descuento_porc : float = 0) -> float:
  x = descuento_porc / 100
  return precio * (1 - x)

In [26]:
res = calcular_descuento(1000, 15)
print(res)

res2 = calcular_descuento_v2(1000, 15)
print(res2)

850.0
850.0

## Sumar n números

In [33]:
def sumar_v2(*numeros):
  imprimir_valor_tipo( numeros)
  return sum(numeros)

In [34]:
print(sumar_v2(1, 2))
print(sumar_v2(1, 2, 3, 4, 5))
print(sumar_v2(1, 2, 3, 4, 5, 6, 7, 8, 9))

El valor es (1, 2) y su tipo es <class 'tuple'>
3
El valor es (1, 2, 3, 4, 5) y su tipo es <class 'tuple'>
15
El valor es (1, 2, 3, 4, 5, 6, 7, 8, 9) y su tipo es <class 'tuple'>
45

In [35]:
def algo(**kwargs):
  imprimir_valor_tipo(kwargs)

In [37]:
algo(nombre = "German", segundo_nombre= "Andrés", apellido = "Riveros")

El valor es {'nombre': 'German', 'segundo_nombre': 'Andrés', 'apellido': 'Riveros'} y su tipo es <class 'dict'>